@font-face {
	font-family: 'CourierPrime';
	font-style: normal;
	src: url('./fonts/CourierPrime/CourierPrime.ttf') format('truetype');
}

* {
	font-family: CourierPrime;
	--main-color-gray: #8a9199;
	--main-color-red: #f51818;
	--main-color-green: #86b300;
	--main-color-yellow: #f2ae49;
	--main-color-blue: #399ee6;
	--main-color-purple: #a37acc;
	--main-color-teal: #4cbf99;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	/* Disable text highlighting by default. */
	user-select: none; /* supported by Chrome and Opera */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	background-color: #fafafa;
}

button {
	border: none;
	background: none;
	cursor: pointer;
}

button:hover { text-decoration: underline; }
